
<div class="row">
  <div class="col-md-12">
  	<div class="search-pane">
  		<div class="row">
		  <div class="col-md-8">
		  	<div class="search-form">
			<%= search_form_for @search, url:search_path, 
			:html => { :class => "form-inline", :role => "form"} do |f| %>

			  <div class="form-group" style="padding-bottom:10px;">
			  	  <%= f.label :hotel_city_cont, "Going to City", 
			  	  :html => { :class => "sr-only"} %>
				  <%= f.search_field :hotel_city_cont, 
			  	  :html => { :placeholder => "City"} %>
			  </div>
			  <div class="form-group">
				  <%= f.label :price_gteq, "Price between" %>
				  <%= f.search_field :price_gteq %>
				  
				  <%= f.label :price_lteq, "and" %>
				  <%= f.search_field :price_lteq %>
			  </div>
			  <%= f.submit "Search", class: "btn btn-warning"%>
			<% end %>
			</div>
		  </div>		  
		</div>
			
	</div>
  </div>
</div>




