
<div class="row">
  <div class="col-md-12">
  	<div class="search-pane">
  		<div class="row">
		  <div class="col-md-8">
		  	<div class="search-form">
			<%= search_form_for @search, url:search_path, 
			:html => { :class => "form-inline", :role => "form"} do |f| %>

			  <div class="form-group" style="padding-bottom:10px;">
			  	  <%= f.label :hotel_city_cont, "Going to City", 
			  	  :html => { :class => "sr-only"} %>
				  <%= f.search_field :hotel_city_cont, 
			  	  :html => { :placeholder => "City"} %>
			  </div>
			  <div class="form-group">
				  <%= f.label :price_gteq, "Price between" %>
				  <%= f.search_field :price_gteq %>
				  
				  <%= f.label :price_lteq, "and" %>
				  <%= f.search_field :price_lteq %>
			  </div>
			  <%= f.submit "Search", class: "btn btn-warning"%>
			<% end %>
			</div>
		  </div>		  
		</div>
			
	</div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
		<%= will_paginate @rooms%>
		<div style = "padding-top:20px;"></div>
		<table class="table table-condensed table-hover">
		  <thead>
		    <tr  class="th_style">
		      <th></th>
		      <%= content_tag :th, sort_link(@search, :hotel_name) %>
		      <%= content_tag :th, sort_link(@search, :hotel_city) %>
		      <%= content_tag :th, sort_link(@search, :room_type) %>
		      <%= content_tag :th, sort_link(@search, :bed_type) %>
		      <%= content_tag :th, sort_link(@search, :num_beds) %>
		      <%= content_tag :th, 
		      sort_link(@search, :price, 'Price', default_order: :desc) %>
		      <th></th>
		      
		    </tr>
		  </thead>

		  <tbody>
		    <% @rooms.each do |room| %>
		      <tr>
		      	<td>		      		
				    <%  painting = room.paintings.first %>
				    	<% if painting.present? %>	
						    <div class="painting">
						       <%= image_tag painting.image_url(:thumb) if painting.image? %>
						    </div>		    
					    <% end %>							   					
		      	</td>
		      	<td><%= room.hotel.name %></td>
		      	<td><%= room.hotel.city %></td>
		        <td><%= room.room_type %></td>
		        <td><%= room.bed_type %></td>
		        <td><%= room.num_beds %></td>
		        <td><%= room.currency %><%= room.price %></td>
		        <td><%= link_to "Book It", "#", class: "btn btn-success btn-xs" %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		<%= will_paginate @rooms%>
  </div>  
</div>
