<%= form_for(@star_rating) do |f| %>
  <% if @star_rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@star_rating.errors.count, "error") %> prohibited this star_rating from being saved:</h2>

      <ul>
      <% @star_rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label :rating %>
      <div class="row">
        <div class="col-sm-4">
          <%= f.text_field :rating, :autofocus => true, class: "form-control" %>  
        </div>
      </div>
   </div>
  <div class="row">
      <div class="col-sm-3">
        <%= f.submit "Create", class: "btn btn-primary" %>
      </div>
    </div> 
<% end %>
