

<dl class="dl-horizontal">
    
      <dt>Room Type</dt>
      <dd><%= @room.room_type %><dd>

      <dt>Bed Type</dt>
      <dd><%= @room.bed_type %><dd>

      <dt>Num Beds</dt>
      <dd><%= @room.num_beds %><dd>

      <dt>Price</dt>
      <dd><%= @room.price %><dd>

      <dt>Curreny</dt>
      <dd><%= @room.currency %><dd>
      
</dl>

<div id="paintings">
  <% for painting in @room.paintings %>
    <div class="painting">
      <%= image_tag painting.image_url.to_s %>
      <div class="name"><%= painting.name %></div>
      <div class="actions">
        <%= link_to "edit", edit_painting_path(painting) %> |
        <%= link_to "remove", painting, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>

<p>
  <%= link_to "Add a Picture", new_painting_path(:room_id => @room) %> |
    <%= link_to "View Galleries", paintings_path %>
</p>
<%= link_to 'Edit', edit_hotel_room_path(@hotel, @room) %> 
<%= link_to 'All Rooms', hotel_rooms_path(@hotel) %>
