
<%= link_to 'Edit Room |', edit_hotel_room_path(@hotel, @room) %> 

<div class="row">
  
  <div class="col-md-6">
    <dl class="dl-horizontal">
    
      <dt>Room Type</dt>
      <dd><%= @room.room_type %><dd>

      <dt>Bed Type</dt>
      <dd><%= @room.bed_type %><dd>

      <dt>Num Beds</dt>
      <dd><%= @room.num_beds %><dd>

      <dt>Price</dt>
      <dd><%= @room.price %><dd>

      <dt>Curreny</dt>
      <dd><%= @room.currency %><dd>
      
    </dl>

  </div>
  <div class="col-md-6">
    
  </div>
</div>




<div id="paintings">
  <% for painting in @room.paintings %>
    <div class="painting">
       <div >
        <%= link_to "remove", painting, :confirm => 'Are you sure?', :method => :delete %>
      </div>
       <%= image_tag painting.image_url(:thumb) if painting.image? %>
            
    </div>
  <% end %>
  <div class="clear"></div>
</div>

<div class="row" style="padding-top:15px;">
      <div class="col-sm-3">
        <%= link_to "Add a Picture", new_painting_path(:room_id => @room), 
  class: "btn btn-success" %> 
      </div>
</div>  
<%= link_to 'Back', hotel_rooms_path(@hotel)%>

