<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
    
      <dt>Room Type</dt>
      <dd><%= @room.room_type %><dd>

      <dt>Bed Type</dt>
      <dd><%= @room.bed_type %><dd>

      <dt>Num Beds</dt>
      <dd><%= @room.num_beds %><dd>

      <dt>Price</dt>
      <dd><%= @room.price %><dd>

      <dt>Curreny</dt>
      <dd><%= @room.currency %><dd>
      
</dl>


<%= link_to 'Edit', edit_hotel_room_path(@hotel, @room) %> 
<%= link_to 'Back', hotel_rooms_path(@hotel) %>
