<p id="notice"><%= notice %></p>

<p>
  <strong>Room type:</strong>
  <%= @room.room_type %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @room.hotel_id %>
</p>

<p>
  <strong>Bed type:</strong>
  <%= @room.bed_type %>
</p>

<p>
  <strong>Num beds:</strong>
  <%= @room.num_beds %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @room.currency %>
</p>


<%= link_to 'Edit', edit_hotel_room_path(@hotel, @room) %> 
<%= link_to 'Back', hotel_rooms_path(@hotel) %>
