<h1>Admin <small>Home</small></h1>
<div class="row">
  <div class="col-sm-4">
    <h3>Manage Data</h3>
    <ul class="list-unstyled">
      <li><h4><%= link_to "All Hotels", all_hotels_path %> <small>- <%= "#{@h_count} hotels" %></small></h4>
        <ul>
            <li><h4><%= link_to "Cities", cities_path %>
              <small>- <%= "#{@count} cities" %></small></h4></li>
            <li><h4><%= link_to "Hotel Star Ratings", star_ratings_path %></h4></li>
            <li><h4><%= link_to "Room Type", room_types_path %></h4></li>
            <li><h4><%= link_to "Bed Type", bed_types_path %></h4></li>
        </ul>
      </li>
      <li><h4><%= link_to "Users", admin_users_path %> 
        <small>- <%= "#{@count} users" %></small></h4></li>
    </ul>
    
    
    
    
    <hr/>
  </div>
  
  <div class="col-sm-4">
    <h3>Last Sign Ups</h3>
    <ul class="list-unstyled">
      <% @last_signups.each do |user| %>
      <li class="list-padded-bottom">
        <%= link_to user.username, edit_admin_user_path(user) %><br/>
        <small><%= time_ago_in_words(user.created_at)%> ago</small>
      </li>
      <% end %>
    </ul>
  </div>
  
  <div class="col-sm-4">
    <h3>Last Sign Ins</h3>
    <ul class="list-unstyled">
      <% @last_signins.each do |user| %>
      <li class="list-padded-bottom">
        <%= link_to user.username, edit_admin_user_path(user) %><br/>
        <small>
          <% unless user.last_sign_in_at.nil? %>
          <%= time_ago_in_words(user.last_sign_in_at)%> ago
          <% else %>
          never
          <% end %>
        </small>
      </li>
      <% end %>
    </ul>
  </div>
  
</div>