<h3><%= current_user.username %>: Listed Hotels</h3>

<%= link_to 'Add New Hotel', new_hotel_path, class: "btn btn-primary"%>

<div style: "height:400px;"></div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>All Rooms</th>
      <th>Desc</th>
      <th>Star rating</th>
      <th>Address</th>
      <th>City</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.name %></td>
        <td><%= link_to 'Rooms', hotel_rooms_path(hotel) %></td>
        <td><%= hotel.desc %></td>
        <td><%= hotel.star_rating %></td>
        <td><%= hotel.address %></td>
        <td><%= hotel.city %></td>
        <td><%= link_to 'Add Rooms', new_hotel_room_path(hotel) %></td>
        <td><%= link_to 'Details', hotel %></td>
        <td><%= link_to 'Update', edit_hotel_path(hotel) %></td>
        <td><%= link_to 'Remove Hotel', hotel, method: :delete, data: { confirm: 'Are you sure you want remove hotel permanently?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Hotel', new_hotel_path %>

